<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<settings>
    <category label="69500">
        <!--Login-->
        <setting id="USER" label="69501" type="text" default=""/>
    	<setting id="PASS" label="69502" option="hidden" type="text" enable="!eq(-1,)" default=""/>
    	<!--TOKENS-->

<!--         <setting id="BASE_URL" option="hidden" type="text" visible="false" default="http://neptune.local:8000/" />
        <setting id="REL_API_URL" option="hidden" type="text" visible="false" default="api/public/1.0/" /> 
        <setting id="KEY" option="hidden" type="text" visible="false" default="76ccb5ec8ecddf15c29c5decac35f9"/>
        <setting id="SECRET" option="hidden" type="text" visible="false" default="261029dbbdd5dd481da6564fa1054e"/> -->

        <setting id="BASE_URL" option="hidden" type="text" visible="false" default="http://test-papi.synopsi.tv/" />
        <setting id="REL_API_URL" option="hidden" type="text" visible="false" default="1.0/" />
        <setting id="KEY" option="hidden" type="text" visible="false" default="e20e8f465f42e96d8340e81bfc48c757"/>
        <setting id="SECRET" option="hidden" type="text" visible="false" default="72ab379c50650f7aec044b14db306430a55f09a2da1eb8e40b297a54b30e4b4f"/>

    	<setting id="ACCTOKEN" option="hidden" type="text" visible="false" default=""/>
    	<setting id="REFTOKEN" option="hidden" type="text" visible="false" default=""/>
        <setting id="FIRSTRUN" option="hidden" type="bool" visible="false" default="true"/>

        <setting id="INSTALL_UID" option="hidden" type="text" visible="false" default=""/>
    </category>

    <!-- Advanced settings -->
    <category label="69510">
    	<setting id="PROTFOL" label="69511"  type="bool" visible="true" default="false"/>
    	<setting id="NUMFOLD" type="enum" label="69514" values="1|2|3|4|5|6|7|8|9" enable="eq(-1,true)" />
        <setting id="FOLDER1" type="folder" label="69513" visible="true" enable="eq(-2,true)" />
        <setting id="FOLDER2" type="folder" label="69513" visible="gt(-2,0)" enable="eq(-3,true)" />
        <setting id="FOLDER3" type="folder" label="69513" visible="gt(-3,1)" enable="eq(-4,true)" />
        <setting id="FOLDER4" type="folder" label="69513" visible="gt(-4,2)" enable="eq(-5,true)" />
        <setting id="FOLDER5" type="folder" label="69513" visible="gt(-5,3)" enable="eq(-6,true)" />
        <setting id="FOLDER6" type="folder" label="69513" visible="gt(-6,4)" enable="eq(-7,true)" />
        <setting id="FOLDER7" type="folder" label="69513" visible="gt(-7,5)" enable="eq(-8,true)" />
        <setting id="FOLDER8" type="folder" label="69513" visible="gt(-8,6)" enable="eq(-9,true)" />
        <setting id="FOLDER9" type="folder" label="69513" visible="gt(-9,7)" enable="eq(-10,true)" />
    	<setting id="sp" type="sep"/>
        <setting id="DEBUG" type="bool" label="69512" default="false"/>

    </category>

</settings>

