<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<settings>
    <category label="69500">
        <setting id="USER" label="69501" type="text" default=""/>
	<setting id="PASS" label="69502" option="hidden" type="text" enable="!eq(-1,)" default=""/>

	<setting id="TOKEN" label="69503" option="hidden" type="text" visible="false" default=""/>

	<setting type="action" label="69504" action="RunScript($ID,splash)" option="close" default="" visible="true" />
    </category>
</settings>

